/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import '~mapbox-gl/dist/mapbox-gl.css';
@import '~@mapbox/mapbox-gl-geocoder/lib/mapbox-gl-geocoder.css';

.country-card {
  max-width: 200px;
  text-align: center;
  display: inline-block !important;
  max-width: 200px;
  margin: 1em;
  cursor: pointer;
}

mat-card {
  margin: 24px;
  text-align: center;
}
