<app-response-api [response]="countries"></app-response-api>

<div align="center">
  <mat-card [routerLink]="'/home/' + c.name" class="country-card" *ngFor="let c of countries" target="_blank">
    <mat-card-header>
      <mat-card-title style="text-align: left;">{{c.name}}</mat-card-title>
      <mat-card-subtitle style="text-align: left;">{{c.capital}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="c.flag" alt="{{c.name}}">
  </mat-card>

</div>
