<mat-toolbar *ngIf="valToolbar()" color="primary">
  <button *ngIf="this.location.path() != '/home'" mat-icon-button aria-label="boton desplegable"
    (click)="this.location.back()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>Coutries Info</span>
  <span class="spacer"></span>
  <button mat-icon-button (click)="cerrar();">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<router-outlet></router-outlet>
