<div align="center" class="centrar">

  <mat-card class="acceso-card" style="margin: 0px;">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <!--Usuario-->
      <mat-form-field appearance="outline" class="opciones-full-width">
        <mat-label>Usuario</mat-label>
        <input required maxlength="16" #txt_usuario type="text" matInput placeholder="Escriba su Usuario" name="usuario"
          [(ngModel)]="user.user" [formControl]="vUsuario" [errorStateMatcher]="matcher">
      </mat-form-field>

      <!--Contraseña-->
      <mat-form-field appearance="outline" class="opciones-full-width">
        <mat-label>Contraseña</mat-label>
        <input required maxlength="16" #txt_contrasena type="password" matInput placeholder="Escriba su Contraseña" name="contrasena"
          [(ngModel)]="user.pass" [formControl]="vContrasena" [errorStateMatcher]="matcher">
      </mat-form-field>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" mat-button (click)="acceso()">Acceso</button>
    </mat-card-actions>
  </mat-card>

</div>
