.acceso-card {
  max-width: fit-content;
}

mat-card-header {
  display: block;
  text-align: center;
}

.centrar {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
