<div *ngIf="country != undefined" align="center">

  <app-response-api [response]="country"></app-response-api>

  <mat-card class="country-card">
    <mat-card-content>
      <img mat-card-image [src]="country.flag" alt="photo">
    </mat-card-content>
  </mat-card>

  <mat-card class="country-card">
    <mat-card-header>
      <div mat-card-avatar style="background-image: url({{country.flag}}); background-size: contain;"></div>
      <mat-card-title>{{country.name}}</mat-card-title>
      <mat-card-subtitle>{{country.capital}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content style="text-align: left;">
      <mat-list>
        <mat-list-item><span class="name">Capital:</span> {{country.capital}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item><span class="name">Nombre Nativo:</span> {{country.nativeName}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item><span class="name">Población:</span> {{country.population | number: '1.0'}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item><span class="name">Región:</span> {{country.region}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item><span class="name">Area:</span> {{country.area | number: '1.0'}} km²</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item><span class="name">Moneda:</span> {{country.currencies[0].name}}</mat-list-item>
      </mat-list>

    </mat-card-content>
  </mat-card>

  <mat-card class="country-card">
    <mat-card-content align="center">
      <mgl-map [style]="style" [zoom]="[4]" [center]="[lat, long]">
        <mgl-control mglNavigation></mgl-control>
        <mgl-control mglFullscreen></mgl-control>
      </mgl-map>
    </mat-card-content>
    <mat-card-actions>

      <mat-form-field appearance="outline">
        <mat-label>Estilos</mat-label>
        <mat-select required [ngModel]="layerId" (ngModelChange)="changeStyle($event)">
          <mat-option value="basic">Basico</mat-option>
          <mat-option value="streets">Calles</mat-option>
          <mat-option value="bright">Brillante</mat-option>
          <mat-option value="light">Luz</mat-option>
          <mat-option value="dark">Oscuro</mat-option>
          <mat-option value="satellite">Satélite</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button (click)="openDialog()" color="accent">Ver</button>

    </mat-card-actions>
  </mat-card>

</div>
