<h1 mat-dialog-title>Mapa de {{data.name}}</h1>
<div mat-dialog-content>

  <mgl-map [ngStyle]="{'height.px': height, 'width.px': width}" [style]="style" [zoom]="[3]"
    [center]="[data.lat, data.long]">
    <mgl-control mglNavigation></mgl-control>
  </mgl-map>

</div>
<div mat-dialog-actions>
  <mat-form-field appearance="outline">
    <mat-label>Estilos</mat-label>
    <mat-select required [ngModel]="layerId" (ngModelChange)="changeStyle($event)">
      <mat-option value="basic">Basico</mat-option>
      <mat-option value="streets">Calles</mat-option>
      <mat-option value="bright">Brillante</mat-option>
      <mat-option value="light">Luz</mat-option>
      <mat-option value="dark">Oscuro</mat-option>
      <mat-option value="satellite">Satélite</mat-option>
    </mat-select>
  </mat-form-field>
</div>
